@import "tailwindcss";

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

#root {
  height: 100%;
  overflow-x: hidden;
}
